<!DOCTYPE html> {% load static %}
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" media="print"
        onload="this.media='all'" />

    <link rel="shortcut icon" href="{% static 'assets/images/Favicon.png' %}" sizes="16x16" type="image/png">
    <link rel="apple-touch-icon" href="{% static 'assets/images/apple-touch-icon.png' %}" />
    <title>Registrierung</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/global.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/legaltexts.css' %}" type="text/css">


</head>


<body>
    {% include "modules/header.html" %}

    <div class="register-container">
        <h1>Account erstellen</h1>
        <div class="center">
            <form method="POST" class="register-form">
                {% csrf_token %}
                <label for="username">Benutzername</label>
                {{ register_form.username }}

                <label for="email">Email</label>
                {{ register_form.email }}

                <label for="password1">Passwort</label>
                {{ register_form.password1 }}
                
                <label for="password2">Passwort wiederholen</label>
                {{ register_form.password2 }}



                <br>
                <br>
                <input type="submit" value="Registrieren" style="background-color: var(--light-rosa);">
                <br>

                <p class="text-center" align="center" style="width: max(min(95%, 600px), 250px);">Falls Du schon einen Account hast, kannst du dich <a href="/login">einloggen</a>.</p>

            </form>
        </div>

    </div>

    {% include "modules/footer.html" %}
</body>



</html>